body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

div {
  margin: 0;
  padding: 0;
}

#gameplay {
  width: 620px;
  height: 540px;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 2px 1px 1px #ccc;
  background: #fff;
}

#preparer {
  width: 500px;
  height: 500px;
  position: fixed;
  top: -2000px;
}

.word-sprite {
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
  user-select: none;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 1px;
}

#answer-box {
  position: absolute;
  width: 560px;
  left: 30px;
  box-sizing: border-box;
  top: 430px;
  height: 45px;
  border-bottom: 1px solid #888888;
  padding: 10px;
  text-align: center;
  color: #000;
  font-size: 21px;
}

#answer-box.valid {
  border-bottom: 5px solid #41c864;
}

#answer-box.invalid {
  border-bottom: 5px solid #eb4141;
}

#question-box {
  position: absolute;
  width: 560px;
  left: 30px;
  box-sizing: border-box;
  top: 475px;
  padding: 10px;
  text-align: center;
  color: #d5d5d5;
  font-size: 12px;
}

#timer-box {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 560px;
  text-align: center;
  font-size: 12px;
  color: #888888;
}

#score-text {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  color: #d5d5d5;
  font-size: 24px;
  text-transform: uppercase;
}

#score-box {
  position: absolute;
  top: 220px;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 60px;
}

#game-name {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #d5d5d5;
  font-size: 60px;
}

.button {
  left: 0;
  right: 0;
  display: block;
  width: 110px;
  top: 320px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: #ffffff;
  background: #41c864;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button.out {
  animation: nudge 1s ease;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 50px);
  }

  80% {
    transform: translate(0, -50px);
  }
}
